{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12">

                                    <div class="view overlay zoom">
                                        <div class="col-xl-5 col-md-4 mb-3 text-center">

                                            <img src="https://cdn.discordapp.com/attachments/552552717118210056/796933565798809660/IMG20200116170554_mr1598415397622_mh1598440405398.jpg" class="img-fluid z-depth-1 rounded-circle"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นางสาว จิราพัชร ชื่นสิริพัฒนกุล รหัสนิสิต 62102010430
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}